<!-- verify_totp.html -->
<form method="POST">
    {% csrf_token %}
    <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code for TOTP setup">

    <style>
        h5 {
            color: red;
        }
        
        </style>
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}

    <input type="text" name="otp" placeholder="Enter OTP">
    <button type="submit">Verify</button>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
</form>